{#
<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span>Fyrir fólk sem starfar innan Hjálparsveitar skáta í Kópavogi</span>
        <a href="http://hssk.is">
            {% icon "hssk" %} Hssk.is
        </a>
    </div>
</footer>
#}