// Link list container page layout

.linkListPage {
    display: block;
    text-align: center;

    .linkContainer {
        margin: $spacing-y $spacing-x;
        padding: .5rem;

        .linkListIcon > svg {
            height: 5rem;
            margin: 1rem auto;
            width: auto;
        }

        h2 {
            font-size: 1.5rem;
            padding: .5rem 0 1rem 0;
            font-weight: 400;
        }

        ul {
            text-align: left;
            li > a {
                display: block;
                position: relative;
                height: 4em;
                padding: .25em .7em;
                margin: .5em 0;
                border: .1rem solid $gray-light;
                border-radius: .5rem;
                background-color: $gray-lightest;
                text-transform: none;
                white-space: nowrap; 
                text-decoration: none;
                color: $gray-darkest;

                .linkLocation {
                    display:block;
                    color: $gray;
                    font-style: italic;
                }

                svg {
                    position: absolute;
                    right: .75em;
                    top: .75em;
                }
            }

            li > a:hover {
                background-color: $gray-light;
            }
        }
    }

    @include mq(md) {
        .linkContainer {
            display: inline-block;
            width: 23rem;
            vertical-align:top
        }
    }
}

