@use '../utils' as *;

.nav {
    a {
        text-decoration: none;
        color: $gray-darkest
    }

    a:hover {
        text-decoration: underline;
        color: $gray-darkest
    }

    &__menu {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
    }
    &__link {
        display: block;
        padding: 0.5em 1em;
    }
    &__toggle {
        @include button-reset;
    }

    @include mq-down(lg) {
        &.is-open &__menu {
            display: block;
        }
    }

    @include mq(lg) {
        &__toggle {
            display: none;
        }
        &__menu {
            display: flex;
            position: static;
            background-color: transparent;
        }
    }
}
