---
layout: base
eleventyExcludeFromCollections: true
permalink: 404.html
---

<div class="container">
    <h1>404 - Fannst ekki</h1>
    <p>Við erum góð í að leita, en við fundum þessa síðu samt ekki.</p>
</div>