---
layout: base
eleventyNavigation:
  key: Hvar er ...?
---

<div class="container linkListPage">

  <article class="linkContainer">
    <div class="linkListIcon">
      {% icon "rescue" %}
    </div>
    <h2>Útkall</h2>
    <p>
      <ul>
        <li>
          <a href="https://adgerd.landsbjorg.is/">Aðgerðagrunnur <span class="linkLocation">adgerd.landsbjorg.is</span>{% icon "external" %}</a>
      </li>
        <li>
          <a href="https://sitewatch.is/">Sitewatch <span class="linkLocation">sitewatch.is</span>{% icon "external" %}</a>
      </li>
      </ul>
    </p>
  </article>

  <article class="linkContainer">
    <div class="linkListIcon">
      {% icon "calendar" %}
    </div>
    <h2>Dagskrá</h2>
    <p>
      <ul>
        <li>
          <a href="https://hssk.is/dagskra">Dagskrá sveitarinnar <span class="linkLocation">hssk.is/dagskra</span>{% icon "external" %}</a>
      </li>
        <li>
          <a href="http://calendar.hssk.is/">Google Calendar <span class="linkLocation">calendar.hssk.is</span>{% icon "external" %}</a>
      </li>
      </ul>
    </p>
  </article>

  <article class="linkContainer">
    <div class="linkListIcon">
      {% icon "car" %}
    </div>
    <h2>Akstur</h2>
    <p>
      <ul>
        <li>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdYET6BxqhflFnhXe0OMLJhE77kRSahlSlPb6Gb_F5iw_SsEA/viewform">Akstursbók <span class="linkLocation">Google Form</span>{% icon "external" %}</a>
      </li>
        <li>
          <a href="https://www.facebook.com/groups/186141101825960">Óska eftir bíl <span class="linkLocation">facebook.com</span>{% icon "external" %}</a>
      </li>
        <li>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3ktPPGPPVoCJkEMd3e19zDktNrIFeS-QD9dwjzYIuYpqBQg/viewform?usp=preview">Gátlisti fyrir jeppa <span class="linkLocation">Google Form</span>{% icon "external" %}</a>
      </li>
      </ul>
    </p>
  </article>

  <article class="linkContainer">
    <div class="linkListIcon">
      {% icon "gmail" %}
    </div>
    <h2>Tölvupóstur</h2>
    <p>
      <ul>
        <li>
          <a href="http://mail.hssk.is/">Pósthólf <span class="linkLocation">mail.hssk.is</span>{% icon "external" %}</a>
      </li>
        <li>
          <a href="http://groups.hssk.is/">Google Groups <span class="linkLocation">groups.hssk.is</span>{% icon "external" %}</a>
      </li>
      </ul>
    </p>
  </article>

  <article class="linkContainer">
    <div class="linkListIcon">
      {% icon "files" %}
    </div>
    <h2>Skjöl</h2>
    <p>
      <ul>
      <li>
        <a href="http://drive.hssk.is/">Google Drive <span class="linkLocation">drive.hssk.is</span>{% icon "external" %}</a>
    </li>
        <li>
          <a href="https://drive.google.com/drive/u/1/folders/0AHMdNvsJFyNjUk9PVA">Fundargerðir <span class="linkLocation">drive.hssk.is</span>{% icon "external" %}</a>
      </li>
      </ul>
    </p>
  </article>

  <article class="linkContainer">
    <div class="linkListIcon">
      {% icon "contacts" %}
    </div>
    <h2>Félagatal</h2>
    <p>
      <ul>
        <li>
          <a href="https://felagar.landsbjorg.is/felagar/felagatal/">Félagatal SL <span class="linkLocation">felagar.landsbjorg.is</span>{% icon "external" %}</a>
      </li>
        <li>
          <a href="https://contacts.google.com/u/1/directory?hl=en-GB">Google Contacts <span class="linkLocation">contacts.google.com</span>{% icon "external" %}</a>
      </li>
      </ul>
    </p>
  </article>

  <article class="linkContainer">
    <div class="linkListIcon">
      {% icon "hospital" %}
    </div>
    <h2>Atvik í starfi</h2>
    <p>
      <ul>
        <li>
          <a href="https://landsbjorg.formstack.com/forms/skyrsla_rnb">Slysaskráning Landsbjargar <span class="linkLocation">felagar.landsbjorg.is</span>{% icon "external" %}</a>
      </li>
        <li>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdNqaoo7uUtiu6ziIRl-Gl65E3HZ1GpCAgufqcDoQGHQnH-Jg/viewform">Atvikaskráning HSSK <span class="linkLocation">docs.google.com</span>{% icon "external" %}</a>
      </li>
      </ul>
    </p>
  </article>

  <article class="linkContainer">
    <div class="linkListIcon">
      {% icon "study" %}
    </div>
    <h2>Þjálfun</h2>
    <p>
      <ul>
        <li>
          <a href="https://forms.gle/RdeC7wvvi3Cn6P3D8">Styrkumsókn <span class="linkLocation">Google Form</span>{% icon "external" %}</a>
      </li>
        <li>
          <a href="https://skoli.landsbjorg.is/rettindi">Björgunarskólinn - Skráning <span class="linkLocation">skoli.landsbjorg.is</span>{% icon "external" %}</a>
      </li>
        <li>
          <a href="http://bjorgunarskoli.landsbjorg.is/">Björgunarskólinn - Kennsla <span class="linkLocation">bjorgunarskoli.landsbjorg.is</span>{% icon "external" %}</a>
      </li>
      </ul>
    </p>
  </article>

  <article class="linkContainer">
    <div class="linkListIcon">
      {% icon "smartphone" %}
    </div>
    <h2>Samfélagsmiðlar</h2>
    <p>
      <ul>
        <li>
          <a href="https://www.facebook.com/groups/21826740857">HSSK félagar <span class="linkLocation">facebook.com</span>{% icon "external" %}</a>
      </li>
      </ul>
    </p>
  </article>
</div>