// ---------------------------------
// MASTER STYLESHEET INDEX
// ---------------------------------

//--------------------
// UTILITIES
// Load utilities once here, they use @use internally
//--------------------

@use 'utils';

//--------------------
// BASE MODULES
// partials with global scope
//--------------------

@use 'base/fonts';
@use 'base/normalize';
@use 'base/reboot';
@use 'base/layout';
@use 'base/typography';
@use 'base/focus';
@use 'base/utilities';
@use 'base/screenreader';
@use 'base/animation';

//--------------------
// COMPONENTS
// partials with local scope to a component
//--------------------

@use 'components/header';
@use 'components/nav';
@use 'components/footer';
@use 'components/icon';
@use 'components/linkList';